@import "tailwindcss";

@custom-variant dark (&: is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-background-body-1: var(--background-body1);
  --color-background-body-2: var(--background-body2);
  --color-background-hover: var(--background-hover);

  --color-navbar-background: var(--navbar-background);
  --color-navbar: var(--navbar);
  --color-navbar-text: var(--navbar-text);

  --color-bento-border: var(--bento-border);

  --color-foreground: var(--foreground);
  --color-icon-color: var(--icon-color);
  --color-icon-hover: var(--icon-hover);
  --color-fondu: var(--fondu);
  --color-fondu-hover: var(--fondu-hover);
  --color-skills: var(--skills);
  --color-label: var(--label);
  --color-title: var(--title);
  --color-subtitle: var(--subtitle);

  --color-primary: var(--primary);
  --color-grid: var(--grid);

  --screen-xs: "384px";
}
@layer utilities {
  :root {
    --background-body1: #e6eff7;
    --background-body2: #beaedb;

    --background: #f7f7f7;
    --foreground: #3a2d34;
    --background-hover: #f2f0f7;

    --navbar-background: rgba(208, 196, 230, 0.4);
    --navbar: #f7f7f7;
    --navbar-text: #3a2d34;

    --bento-border: rgba(0, 0, 0, 0);

    --title: #3a2d34;
    --subtitle: #7f7f7f;

    --icon-color: #7f7f7f;
    --icon-hover: #3a2d34;

    --skills: #e5e5e5;
    --label: #9eb5a3;

    --primary: #9eb5a3;

    --grid: rgba(170, 170, 170, 0.2);

    --timeline: linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, rgb(158, 181, 163) 20%, rgb(158, 181, 163) 80%, rgba(255, 0, 0, 0) 100%);
  }

  [data-theme="dark"] {
    --background-body1: #161c29;
    --background-body2: #4a3678;

    --background: #18191e;
    --foreground: #ededed;
    --background-hover: #0e0f11;

    --navbar-background: rgba(24, 25, 30, 0.6);
    --navbar: #323337;
    --navbar-text: #ededed;

    --bento-border: #323337;

    --title: #ededed;
    --subtitle: #9ca3af;

    --icon-color: #9ca3af;
    --icon-hover: #ededed;

    --skills: #262626;
    --label: #4a3678;

    --primary: #4a3678;

    --grid: rgba(190, 190, 190, 0.1);

    --timeline: linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, rgb(74, 54, 120) 20%, rgb(74, 54, 120) 80%, rgba(255, 0, 0, 0) 100%);
  }
}

@font-face {
  font-family: "Silka";
  src: url("/fonts/silka.ttf") format("ttf");
  src: url("/fonts/silka.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Silka", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/* PULSER */
.animation-pulser {
  animation: pulser 2s infinite;
}

@keyframes pulser {
  0% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba(0, 186, 11, 1);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 186, 11, 0);
  }

  100% {
    transform: scale(0.8);
  }
}

/* GRID */
.bg-grid {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(to bottom right, var(--background-body1) 30%, var(--background-body2) 100%);
}

.bg-grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, var(--grid) 1px, transparent 1px), linear-gradient(to bottom, var(--grid) 1px, transparent 1px);
  background-size: 70px 70px;
  pointer-events: none;
  z-index: 2;
  opacity: 0.8;
}

.timeline {
  background: rgb(red, green, blue);
  background-image: var(--timeline);
}
